langchain
python-dotenv
langchain-openai
beautifulsoup4
langchain_community
faiss-cpu
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
gtts
google-generativeai
pypdf
langchain_google_genai
chromadb
PyPDF2
